[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "crosspad-core"]
	path = lib/crosspad-core
	url = https://github.com/CrossPad/crosspad-core.git
[submodule "crosspad-gui"]
	path = lib/crosspad-gui
	url = https://github.com/CrossPad/crosspad-gui.git
[submodule "src/apps/crosspad-mixer"]
	path = src/apps/crosspad-mixer
	url = https://github.com/CrossPad/crosspad-mixer.git
[submodule "src/apps/crosspad-piano"]
	path = src/apps/crosspad-piano
	url = https://github.com/CrossPad/crosspad-piano.git
[submodule "src/apps/crosspad-instructions"]
	path = src/apps/crosspad-instructions
	url = https://github.com/CrossPad/crosspad-instructions.git
[submodule "src/apps/crosspad-serial-monitor"]
	path = src/apps/crosspad-serial-monitor
	url = https://github.com/CrossPad/crosspad-serial-monitor.git
