[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "crosspad-core"]
	path = crosspad-core
	url = https://github.com/CrossPad/crosspad-core.git
[submodule "crosspad-gui"]
	path = crosspad-gui
	url = https://github.com/CrossPad/crosspad-gui.git
